node_modules
dist
out
.DS_Store
.eslintcache
*.log*
/data
/ffmpeg
/go_reel_c/Debug
/go_reel_c/ffmpeg_extensions/Debug
/go_reel_c/ffmpeg_extensions/x64/Debug
/go_reel_c/ffmpeg_extensions_test/bin/Debug/net5.0
/go_reel_c/ffmpeg_extensions_test/obj/Debug/net5.0
/go_reel_c/test_video/*.mp4
/go_reel_c/ffmpeg_extensions_test/obj
/go_reel_c/bin
/go_reel_c/ffmpeg-7.1.1-full_build-shared
/go_reel_c/test_video
/go_reel_c/ffmpeg_extensions/x64
/go_reel_c/ffmpeg_extensions_test/x64
/bin/avcodec-61.dll
/bin/avdevice-61.dll
/bin/avfilter-10.dll
/bin/avformat-61.dll
/bin/avutil-59.dll
/bin/ffmpeg_extensions.dll
/bin/postproc-58.dll
/bin/swresample-5.dll
/bin/swscale-8.dll
